absl-py==2.1.0
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
crispy-bootstrap4==2024.10
Django==5.2.1
django-crispy-forms==2.4
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
Markdown==3.7
MarkupSafe==3.0.2
numpy==1.26.4
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.1.0
protobuf==4.25.6
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.1
requests==2.32.3
rich==13.9.4
setuptools==75.8.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.9.0
wheel==0.45.1
Werkzeug==3.1.3
